@charset "UTF-8";

@media screen and (max-width: 480px) {
    .app {
        max-width: 310px;
        padding: 10px;
    }

    .menu {
        margin-bottom: 30px;
    }

    #links {
        display: none;
    }

    #optionsNav {
        display: none;
    }

    .listFeedback{
        margin-bottom: 50px;
    }

    footer p {
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 768px) {
    .app {
        max-width: 1200px;
    }
    
    #links {
        display: flex;
    }

    #optionsNav {
        display: flex;
    }

    #iconMenu {
        display: none;
    }
}