@charset "UTF-8";

@media screen and (max-width: 480px) {
    .app {
        max-width: 310px;
        padding: 10px;
    }

    .menu {
        margin-bottom: 30px;
    }

    #links {
        display: none;
    }

    #optionsNav {
        display: none;
    }

    .listFeedback{
        margin-bottom: 50px;
    }

    .contentRight {
        display: none;
    }

    #image img {
        display: none;
    }

    footer p {
        font-size: 0.85rem;
    }

    .listBrand {
        flex-wrap: wrap;
    }
    
    .listBrand li {
        flex-basis: 46%; /* Divide as colunas em 2 em telas menores */
        text-align: center; /* Centralize o conteúdo */
    }
    
    .listBrand img {
        max-width: 100%; /* Evita que as imagens ultrapassem a largura da coluna */
        height: auto; /* Mantém a proporção da imagem */
    }
}

@media screen and (min-width: 768px) {
    .app {
        max-width: 1200px;
    }

    #links {
        display: flex;
    }

    .contentLeft {
        padding-right: 80px;
    }

    #optionsNav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #btn-menu {
        display: none;
    }

    .listBrand {
        display: flex;
        width: 85%;
        justify-content: space-around;
        padding: 0 50px;
    }

    .listBrand li {
        flex-basis: 46%; /* Divide as colunas em 2 em telas menores */
        text-align: center; /* Centralize o conteúdo */
    }
    
    .listBrand img {
        max-width: 100%; /* Evita que as imagens ultrapassem a largura da coluna */
        height: auto; /* Mantém a proporção da imagem */
    }
}

/* Defina uma nova regra de media query para telas menores que 768px */
@media screen and (max-width: 768px) and (min-width: 481px){
    #links {
        display: none;
    }

    #btn-menu {
        display: none;
    }

    #image {
        padding-right: 20px;
    }

    .listBrand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 10px;
    }
    
    .listBrand li {
        flex-basis: 46%; /* Divide as colunas em 2 em telas menores */
        text-align: center; /* Centralize o conteúdo */
    }
    
    .listBrand img {
        max-width: 100%; /* Evita que as imagens ultrapassem a largura da coluna */
        height: auto; /* Mantém a proporção da imagem */
    }
}
