* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: rgb(103, 103, 103);
}

:root {
    --main-bg-color: #f2ebe4;
    --txt-yellow: #edaf12;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.listItem {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#btn-menu {
    border: none;
    background: none;
}

.modal-mobile {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;

    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.header-modal h1 {
    font-size: 0.8rem;
    color: #8898aa;
}


.title-body-modal {
    display: flex;
    align-items: center;
}

.body-modal h2 {
    font-size: 0.8rem;
    color: #213750;
}

.img-title {
    padding-right: 5px;
}

.txt-body-modal {
    font-size: 0.7rem;
    color: #8898aa;
    margin-left: 30px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

.contentRight {
    width: max-content;
    padding-left: 50px;
}

#image {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-height: 400px; /* Altura máxima desejada */
}

#image img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Pode ser "cover" ou "contain", dependendo do comportamento desejado */
    max-height: 500px; /* Garante que a altura não ultrapasse a altura da div #image */
}


#mainTitle {
    margin-bottom: 5px;
}

#mainTitle span {
    font-size: 1.7rem;
    font-weight: bold;
}

.txtBlack {
    color: black;
}

.textYellow {
    color: var(--txt-yellow);
}

#description {
    margin-bottom: 5px;
}

.listFeedback{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 25px;
    gap: 15px;
}

#contentImg {
    display: block;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin-bottom: 20px;
}


.btnTry {
    background-color: #264a27;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

