* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: rgb(103, 103, 103);
}

:root {
    --main-bg-color: #f2ebe4;
    --txt-yellow: #edaf12;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.listItem {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#btn-menu {
    border: none;
    background: none;
}

.modal-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;    
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.header-modal h1 {
    font-size: 0.8rem;
    color: #8898aa;
}


.title-body-modal {
    display: flex;
    align-items: center;
}

.body-modal h2 {
    font-size: 0.8rem;
    color: #213750;
}

.img-title {
    padding-right: 5px;
}

.txt-body-modal {
    font-size: 0.7rem;
    color: #8898aa;
    margin-left: 30px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

.contentRight {
    width: max-content;
    padding-left: 50px;
}

#image {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-height: 400px; /* Altura máxima desejada */
}

#image img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Pode ser "cover" ou "contain", dependendo do comportamento desejado */
    max-height: 500px; /* Garante que a altura não ultrapasse a altura da div #image */
}


#mainTitle {
    margin-bottom: 5px;
}

#mainTitle span {
    font-size: 1.7rem;
    font-weight: bold;
}

.txtBlack {
    color: black;
}

.textYellow {
    color: var(--txt-yellow);
}

#description {
    margin-bottom: 5px;
}

.listFeedback{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 25px;
    gap: 15px;
}

#contentImg {
    display: block;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin-bottom: 20px;
}


.btnTry {
    background-color: #264a27;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

